@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/* Botão de voltar */
.botao-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #7DE3B0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.botao-voltar:hover {
    background-color: #6dc699;
}

.cadastrar-card {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cadastrar-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #69593c;
}

.cadastrar-card form {
    display: flex;
    flex-direction: column;
}

.cadastrar-card input[type="text"],
.cadastrar-card input[type="email"],
.cadastrar-card input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.cadastrar-card input[type="submit"] {
    background-color: #7DE3B0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cadastrar-card input[type="submit"]:hover {
    background-color: #6dc699;
}

.cadastrar-card p {
    text-align: center;
    margin-top: 10px;
    color: #999;
}

.cadastrar-card a {
    color: #007bff;
    text-decoration: none;
}

.cadastrar-card a:hover {
    text-decoration: underline;
}